<div class="lessons-grid">
	<ng-container *ngFor="let category of lessonService.filteredLessons$ | async | keyvalue">
		<div class="card-item" *ngFor="let lesson of category.value" (click)="openDetail(lesson)">
			<div class="card-image-wrapper">
				<img [src]="lesson.image" [alt]="lesson.title" class="card-image">
				<div class="card-badge" [class]="category.key"></div>
			</div>
			<div class="card-content">
				<h3 class="card-code">{{ lesson.code }}</h3>
				<p class="card-title">{{ translationService.translate(lesson.code) }}</p>
				<p class="card-date">{{ translationService.translate('datePrefix') }}: {{ lesson.createdAt || '11 Haziran 2023 Pazar' }}</p>
			</div>
		</div>
	</ng-container>
</div>

<div class="not-found" *ngIf="isNotFound">
	<p>{{ translationService.translate('notFound') }}</p>
</div>
