@import '../../styles/colors';

.main {
	padding: 40px 0;
	width: 100vw;

	.search-bar {
		margin: 20px auto;
		width: 50%;
		justify-content: center;

		&:focus {
			box-shadow: 0 0 20px 0 $success;
		}

		input {
			width: 400px;
			flex-grow: initial;
			outline: none;
			border: none;

			&:focus {
				border: none;
				outline: none;
				box-shadow: none;
			}
		}

		.input-group-text {
			border: none;
			background: white;
			padding: 5px 5px;
		}
	}

	.main-container {
		gap: 10px;
		padding: 0;
		margin: 20px 80px;
		min-height: 74vh;

		.top-panel {
			background-color: $bg-color;
			border-radius: 6px;
			height: 100%;
			justify-content: left;
			padding: 10px 20px;

			.mobile-profile {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 90px;

				.photo {
					border-radius: 50%;
					height: 40px;
					width: 40px;
					margin-bottom: 10px;
				}
			}

			.divider {
				background-color: $success;
				width: 1px;
				margin: 0 10px;
			}

			.side-menu {
				display: flex;
				gap: 10px;
				overflow-x: auto;

				.btn {
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 140px;
					height: 40px;

					.badge {
						margin-left: 15px;
						position: initial !important;
					}
				}
			}
		}

		.side-panel {
			.profile {
				img {
					border-radius: 50%;
					height: 100px;
					width: 100px;
				}

				h4 {
					margin: 10px 0 0;
				}
			}

			.side-menu {
				gap: 20px;
				margin-top: 10px;
				background-color: $bg-color;
				border-radius: 6px;
				width: 300px;
				padding: 30px;

				.btn {
					display: flex;
					align-items: center;
					justify-content: center;

					.badge {
						margin-left: 15px;
						position: initial !important;
					}
				}
			}
		}
	
		.card-container {
			gap: 10px;
			background-color: $bg-color;
			border-radius: 6px;
			height: 100%;
			padding: 30px 10px;
			min-height: 100px;
			width: 100%;


			.card {
				background-color: $secondary;
				border-radius: 10px;
				border: none;
				max-width: 250px;
				cursor: pointer;

				&:hover {
					box-shadow: 0 0 20px 0 $success;
					border: none;
				}

				img {
					width: 250px;
					height: 200px;
					object-fit: cover;
					border-radius: 10px 10px 0 0;
				}
			}

			.version-notes {
				text-align: left;
				margin-left: 15px;

				li {
					color: aliceblue
				}
			}
		}
	}

	.footer {
		display: flex;
		justify-content: space-between;
		margin: 50px 20px 0;
	}
}

@media (max-width: 1000px) {
	.main-container {
		flex-direction: column;

		.side-panel {
			display: none;
		}

		.top-panel {
			display: flex !important;
		}
	}
}

@media (max-width: 890px) {
	.search-bar {
		width: 75% !important;

		input {
			width: 300px !important;
		}
	}
}

@media (max-width: 600px) {
	.search-bar {
		width: 100% !important;

		input {
			width: 200px !important;
		}
	}

	.main-container {
		margin: 20px !important;
	}

	.card-container .card {
		width: 100% !important;
		max-width: 100% !important;

		img {
			width: 100% !important;
		}
	}
}

@media (max-width: 450px) {
	.card-container .card img {
		width: 100% !important;
	}
}
