/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

body {
	background-color: #161722;
	display: flex;
	justify-content: center;
	color: #A2FFA0;
	font-family: 'Poppins', sans-serif;
}

.badge {
	display: flex;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	right: 5px;

	@for $i from 1 through 3 {
		&:nth-child(#{$i}) {
			top: #{5px + ($i - 1) * 25px};
		}
	}

	&:empty {
		display: block;
	}
}

@for $i from 1 through 16 {
	.fs-#{$i} {
		font-size: #{$i}px;
	}
}
