/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
@import 'styles/colors';

body {
	background-color: #161722 !important;
	display: flex;
	justify-content: center;
	color: $success !important;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}

a {
	color: #8E8E8E !important;
	text-decoration: none !important;
	outline: none !important;
}

::-webkit-scrollbar {
	width: 7px;
	height: 4px;
	background: $bg-color;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: $success;
	border-radius: 5px;
}

.badge {
	display: flex;
	width: 20px;
	height: 20px;
	border-radius: 50% !important;
	position: absolute !important;
	right: 5px;

	@for $i from 1 through 3 {
		&:nth-child(#{$i}) {
			top: #{5px + ($i - 1) * 25px};
		}
	}

	&:empty {
		display: block !important;
	}
}

@for $i from 1 through 16 {
	.fs-#{$i} {
		font-size: #{$i}px;
	}
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
